{{> navigation }}

<div class="container col-md-10 principal d-flex justify-content-center">
    <div class="card bg-light">
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <h2 class="card-title">Agregar Producto</h2>
                <hr class="regla">
            </div>
            <form action="/producto/add_producto" method="post">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Nombre:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" name="nombre" id="nombre" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Compra:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" name="precio_compra" id="precio_compra" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Venta:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" name="precio_venta" id="precio_venta" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Categoria:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" name="categoria" id="categoria" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Cantidad:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" name="cantidad" id="cantidad" required>
                    </div>
                </div>
                <div class="row buttons d-flex justify-content-around">
                    <button class="btn btn-outline-primary">Guardar</button>
                    <a class="btn btn btn-outline-danger" href="/producto">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>