
body {
    font-family: "Montserrat-Black", sans-serif;
}

h1, h2, h3, h4, h6 {
    font-family: "Montserrat";
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/*Headings section*/

.big-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#title {
    background-color: #ff4c68;
    color: #ffffff;
}

/*Navigation bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/*Download buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}

/*Title image*/

.title-image {
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*features Section*/

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.features-card{
text-align: center;
    padding: 5%;
}

.features-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
}

/*Testimnials section*/

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {}

/*Press section*/
#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing section*/

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}
/*CTA section*/

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

/*Footer section*/

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }

}

/*Login Page*/
.contenedor-login{
    background-color: #ff4c68;
    padding: 4rem;
    height: 100%;
}

.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

}
.signin-text{
    font-style: normal;
    font-weight: 600 !important;

}
.form-control{
    display: block;
    width:100%;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5;
    border-color: #ff4c68 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color:#495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}


.form-control:focus{

    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.birthday-section{
    padding: 15px;
}
.btn-class{
    background-color: white;
    color: #ff4c68;
    border: 1px solid #ff4c68;
    border-radius: 10%;
}
.btn-class:hover{
    background-color:  #ff4c68;
    color: #fff;
}
/*Login Page End*/
