{{> navigation }}


<br>
<br>
<br>
<section class="mb-3 d-flex justify-content-center">
    <div class="card col-sm-3 p-10">
        <div class="mb-3 text-center">
            <h3>Agregar Cita</h3>
        </div>
        <div class="mb-2">
            <form action="/cita/add_cita" method="post">
                <div class="mb-2">
                    <label for="id">Id del Servicio</label>
                    <input type="text" class="form-control" name="id" id="id" required>
                </div>
                <div class="mb-2">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" required>
                </div>
                <div class="mb-2">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="precio" required>
                </div>
                <div class="mb-2 text-center">
                    <button class="btn btn-success">Guardar</button>
                    <a class="btn btn btn-danger" href="/cita">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</section>
