<div class="login-form">
    <h1>365 Beauty Salon</h1>
    <form action="/login" method="POST">
        <input type="text" name="nombre_usuario" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" class="btn-login" value="Ingresa">
    </form>
</div>