<!--
<div class="login-form">
    <h1 class="elemento-rosa">365 Beauty Salon</h1>
    <form action="/login" method="POST">
        <input type="text" name="nombre_usuario" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" class="btn-login" value="Ingresa">
    </form>
</div>
-->


<div class="contenedor-login">
    <div class="container">
        <div class="row content">
            <div class ="col-md-6 mb-3">
                <img src="images/logo.png" class="img-fluid" alt="image">
            </div>
            <div class="col-md-6">
                <h3 class="signin-text mb-3">365 Beauty Salon</h3>
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input type="text"name="nombre_usuario" placeholder="Usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox">
                        <label class="form-check-label" for="checkbox">Recordarme</label>
                    </div>
                    <input type="submit" value="Ingresa" class="btn-class">
                </form>
            </div>
        </div>
    </div>
</div>