{{> navigation }}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/menu/empleado/add_empleado" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="id" placeholder="Id" autofocus required>
                        </div>
                        <label for=""></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                        </div>
                        <label for=""></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="apellido" placeholder="Apellido" required>
                        </div>
                        <label for=""></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="telefono" placeholder="Telefono" required>
                        </div>
                        <label for=""></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="correo" placeholder="Correo" required>
                        </div>
                        <label for=""></label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="cargo" placeholder="Cargo" required>
                        </div>
                        <label for=""></label>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                            <a href="../producto">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>