{{> navigation }}


<div class="container p-12">
    <div class="row">
        <div class="col-md-12 mx-auto principal d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <form action="/empleado/add_empleado" method="post">
                        <label for="">Id</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="id" placeholder="Id" autofocus required>
                        </div>
                        <label for="">Nombre</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                        </div>
                        <label for="">Apellido</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="apellido" placeholder="Apellido" required>
                        </div>
                        <label for="">Telefono</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="telefono" placeholder="Telefono" required>
                        </div>
                        <label for="">Correo</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="correo" placeholder="Correo" required>
                        </div>
                        <label for="">Cargo</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="cargo" placeholder="Cargo" required>
                        </div>
                        <label for=""></label>
                        <div class="form-group d-flex justify-content-center">
                            <label>
                                <button class="btn btn-success">Guardar</button>
                                <a href="../producto" class="btn btn-success">Cancelar</a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

